<div class="image">
  <div class="row justify-content-center">
    <div  class="setup-body col-12 col-xxl-9">
      <nav class="col navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoggedIn">
        <div class="col collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="col nav-link" href="/home" routerLink="home">
                <fa-icon [icon]="fahouse" size="2x"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn bi-door-open-fill" (click)="logout()">
          <fa-icon [icon]="fadooropen" size="2x"></fa-icon>
        </button>
        <ul class="navbar-nav mr-auto">
          <a class="nav-link" href="/profile" routerLink="profile" >
            <fa-icon [icon]="fauser" size="2x"></fa-icon>
          </a>
        </ul>
      </nav>
      </div>
    <router-outlet></router-outlet>
  </div>
</div>
