.body{
  margin-top: 5%;
  text-shadow: 2px 2px rgba(229, 228, 255, 0.034);
  border-radius: 10px;
  background-color: rgb(253, 251, 251);
  padding-bottom: 1%;
}
.add{
  float: right;
}
.books{

}
.setup-body{
  margin-top: 5%;
  text-shadow: 2px 2px rgba(229, 228, 255, 0.034);
  border-radius: 10px;
  background-color: rgba(253, 251, 251, 0);
  width: fit-content;
  block-size: fit-content;
  margin-right: 3%;

}

