<div class="row justify-content-center">
  <body  class="body col-12 col-xxl-8 justify-content-center">
    <tabs>
      <tab [name]="'Profile'">
        <div class="cardprofil">
            <h1>Fullname: {{userData.fullname}}</h1>
            <p class="titleprofil">Username: {{userData.username}}</p>
            <p>Email: {{userData.email}}</p>
            <p> User like:{{userData.like}} </p>
            <p> User dislike: {{userData.dislike}} </p>
          </div>
      </tab>
      <tab name="My Books">
        <body class="body" >
          <div>
            <button class="add btn btn-primary" (click)="open(contentNew)">
              <fa-icon [icon]="faplus" size="1x"></fa-icon>
              Add book
            </button>
            <div class="books">
              <table  class="table table-dark" >
                <thead>
                <tr>
                  <th scope="col"><h5><b>Author</b></h5></th>
                  <th scope="col"><h5><b>Title</b></h5></th>
                  <th scope="col"><h5><b>Borrower Username</b></h5></th>
                  <th scope="col"><h5><b>Actions</b></h5></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let book of books">
                  <td><span>{{book.author}}</span></td>
                  <td><span>{{book.title}}</span></td>
                  <td><span>{{book.borrowerUsername}}</span></td>
                  <td>
                    <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, book)">Delete</button>
                    <button class="btn btn-sm btn-primary" (click)="openEdit(contentEdit, book)">Edit</button>
                    <button class="btn btn-sm btn-primary" (click)="open(contentComments)" (click)="getBookReviews(book.id)">Read reviews</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </body>
      </tab>
      <tab [name]="'Borrowed Books'">
        <div class="books">
          <table  class="table table-dark">
            <thead>
            <tr>
              <th scope="col"><h5><b>Author</b></h5></th>
              <th scope="col"><h5><b>Title</b></h5></th>
              <th scope="col"><h5><b>Owner Username</b></h5></th>
              <th scope="col"><h5><b>Borrowed Time</b></h5></th>
              <th scope="col"><h5><b>Book Review</b></h5></th>
              <th scope="col"><h5><b>Actions</b></h5></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of borrowedBooks">
              <td><span>{{book.author}}</span></td>
              <td><span>{{book.title}}</span></td>
              <td><span>{{book.ownerUsername}}</span></td>
              <td><span>{{timeConverter(book.borrowedTime)}}</span></td>
              <td><span>{{book.bookReview}}</span></td>
              <td>
                <button *ngIf="book.bookReview == null" class="btn btn-sm btn-primary" (click)="openBookReview(contentNewReview, book)">Write book review</button>
                <button class="btn btn-sm btn-info" (click)="openEditBookReview(contentEditReview, book)">Edit book review</button>
                <button *ngIf="book.bookReview != null"class="btn btn-sm btn-danger" (click)="DeleteBookReview(book.bookReviewID)">Delete book review</button>
                <button class="btn btn-sm btn-danger" (click)="returnBorrowedBook(book.borrowedReviewID)" >Give Back</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabs>
  </body>
</div>

<ng-template #contentComments let-modal>
  <div class="modal-content" id="Comments">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Reviews </h4>
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="comment" *ngFor="let review of reviews">
        <b>Username: {{review.username}} </b>
        <div>
          <p>Review: {{review.review}}</p>
        </div>
        <HR>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-content" id="Editmsg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit </h4>
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="Author">Author</label>
          <div class="input-group">
            <input formControlName="Author" class="form-control">
          </div>
          <div class="form-group">
            <label for="Title">Title</label>
            <div class="input-group">
              <input formControlName="Title" class="form-control">
            </div>
          </div>
        </div>
        <button data-dismiss="modal" class="btn btn-info" (click)="onEdit()">Save</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Are you sure you want to delete this record?</h2>
        <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #contentNewReview let-modal>
  <div class="modal-content" id="add_new_review">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Book</h4>
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="sendBookReview()" novalidate>
        <div class="form-group">
          <div class="form-group">
            <label for="Review">Review</label>
            <textarea
            class="form-control"
            name="text"
            type="text"
            id="text"
            rows="3"
            [(ngModel)]="reviewForm.bookReview"
            #text="ngModel"
            ></textarea>
          </div>
        </div>
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #contentNew let-modal>
  <div class="modal-content" id="add_new">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Book</h4>
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <div class="form-group">
            <label for="Title">Title</label>
            <input
              type="Title"
              class="form-control"
              id="Title"
              required
              [(ngModel)]="form.Title"
              name="Title"
              #Title="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="Author">Author</label>
            <input
              type="Author"
              class="form-control"
              id="Author"
              required
              [(ngModel)]="form.Author"
              name="Author"
            />
          </div>
        </div>
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #contentEditReview let-modal>
  <div class="modal-content" id="Editmsg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit </h4>
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editReview" novalidate>
        <div class="form-group">
          <label for="bookReview">Book Review</label>
          <div class="input-group">
            <textarea  id="text" formControlName="bookReview" class="form-control" name="text" type="text" rows="3" ></textarea>
          </div>
        </div>
        <button data-dismiss="modal" class="btn btn-info" (click)="onEditBookReview()">Save</button>
      </form>
    </div>
  </div>
</ng-template>
