.body{
  margin-top: 5%;
  text-shadow: 2px 2px rgba(229, 228, 255, 0.034);
  border-radius: 10px;
  background-color: rgb(253, 251, 251);
  padding-bottom: 1%;
}

.add{
  float: right;
}

.setup-body{
  margin-top: 5%;
  text-shadow: 2px 2px rgba(229, 228, 255, 0.034);
  border-radius: 10px;
  background-color: rgba(253, 251, 251, 0);
  width: fit-content;
  block-size: fit-content;
  margin-right: 3%;
}
.green{
  background-color: rgba(21, 163, 44, 0.815);
}
.red{
  background-color: rgba(197, 31, 13, 0.815);
}
.icon{
  margin-right: 1%;
  margin-left: 1%;
}
a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(80, 45, 114);
}
button:hover, .dropdown:hover .dropbtn {
  background-color: rgb(80, 45, 114);
}
